html body{
	width: 100%;
	height: 100%;
}
.headboard {
	height: 100px;
	background: #333333;
}
.headboard ul {
	display: flex;
	padding-right: 50px;
	justify-content: flex-start;
	align-items: center;
}
.headboard ul li {
	padding-left: 20px;
	list-style-type: none;
}
.headboard ul li a {
	color: white;
	text-decoration: none;
}
.container {

}
.column {
	-webkit-column-count: 2;
	clear: both;
}
.image {
	background: gray;
	width: 100%;
	height: 300px;

}